@media screen and (min-width:320px) and (max-width: 454px) {
    
    .information-score, .information-best_score, .information-button{
        height: 6vh;
        width: 22%;
    }
    .box{
        height: 6vh;
        width:  20vw;
    }
    
}
@media screen and (min-width:455px) and (max-width: 768px) {
    .information-score, .information-best_score, .information-button{
        height: 6vh;
        width: 17%;
        margin: 6px;
    }
    .box{
        height:6vh !important;
        width:  12vw !important;
    }
    
}
@media screen and (min-width:768px) and (max-width: 1024px) {
    
    .information-score, .information-best_score, .information-button{
        height: 6vh;
        width: 22%;
    }
    .box{
        height: 10vh;
        width:  8vw;
    }
    
}
/* my phone: 455 */